.side-bar-large{
    display: block;
    height: calc(100vh - 80px);
    width: 220px;
    background-color: #fff;
}
.side-bar-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    height: 36px;
    width: 210px;
    margin: 4px;
}
li a{
    display: inline-block;
    text-decoration: none;
    color: #00000060;
    align-content: center;
    padding-left: 8px;
    font-weight: 600;
    height: 36px;
    width: 202px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
li .active{
    color: #b172eb;
    background-color: #e1b5ff4b;
}
li a:hover{
    background-color: #e1b5ff4b;
    color: #b172eb;
}
.side-bar-small{
    display: none;
}
@media screen and (max-width:650px) {
    .side-bar-large{
        display: none;
    }
    .side-bar-small{
        display: block;
        height: calc(100vh - 80px);
        width: 40px;
        background-color: #fff;
    }
    li{
        margin: 0;
        margin-top: 4px;
    }
    li a{
        width: 30px;
    }
}